*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  overflow-x: hidden;
  width: 100vw;
}
body{
    font-size: 16px;
    overflow-x: hidden;
    width: 100vw;
}
img{
    width: 100%;
}

body.lock-scroll {
  overflow: hidden;
}


.for_loader_perchent_obl {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 90%;
  width: 100%;
  transform: translateY(-50%);
}

.preloader--fade {
  opacity: 0;
}

.preloader--hide {
  display: none;
  visibility: hidden;
}

.perchenload_upper {
  display: flex;
  align-items: center;
  width: 700px;
  height: 35px;
  border-radius: 15px;
  padding: 0.25%;
  background: linear-gradient(90deg, rgb(219, 219, 219) 0%, rgb(218, 217, 217));
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0);
}

.perchenload {
  height: 100%;
  width: 0%; /* Початкова ширина - 0% */
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(0, 123, 255, 1) 0%, rgba(0, 123, 255, 0.8) 100%);
  transition: width 0.5s ease-in-out; /* Плавний перехід */
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0);
}


.preloader {
  z-index: 10000;
  flex-direction: column;
  contain: layout;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/whitepn.jpg);
  background-size: cover;
  transition: all 3s ease-out;
  opacity: 1; /* Початкова прозорість */
  visibility: visible; /* Початкова видимість */
  transition: opacity 1.5s ease-in-out;
}

.preloader__loader {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intprochent_chet {
  color: #ffffff;
  z-index: 10001;
  position: absolute;
  display: flex; /* Додаємо */
  justify-content: center; /* Центруємо по горизонталі */
  align-items: center; /* Центруємо по вертикалі */
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0);
}

@keyframes ldio-yzaezf3dcmj {
  0% {
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 50%;
    left: 50%;
    width: 606px;
    height: 606px;
    opacity: 0;
    transform: translate(-50%, -50%);
  }
}

.ldio-yzaezf3dcmj div {
  position: absolute;
  border-width: 6px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-yzaezf3dcmj 2s cubic-bezier(0,0.2,0.8,1) infinite;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0);
  transform-origin: center;
}

.ldio-yzaezf3dcmj div:nth-child(1) {
  border-radius: 50%;
  border-color: #ffffff;
  animation-delay: 1s;
}
.ldio-yzaezf3dcmj div:nth-child(2) {
  border-radius: 50%;
  border-color: #ffffff;
  animation-delay: 1.5s;
}
.ldio-yzaezf3dcmj div:nth-child(3) {
  border-radius: 50%;
  border-color: #ffffff;
  animation-delay: 2s;
}

.loadingio-spinner-ripple-2by998twmg8 {
  width: 700px;
  height: 700px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: center;
}
.ldio-yzaezf3dcmj div {
  box-sizing: content-box;
}

.glossy-div1 {
    top: -250px;
    position: absolute;
    rotate: 45deg;
    opacity: 0.7;
    color: white;
    width: 200px;
    height: 500px;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0);
}

.glossy-div2 {
  top: -35%;
  left: 7%;
  position: absolute;
  rotate: 45deg;
  opacity: 0.7;
  color: white;
  width: 200px;
  height: 1200px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0);
}

.glossy-div3 {
  top: -41%;
  left: 17%;
  position: absolute;
  rotate: 45deg;
  opacity: 0.7;
  color: white;
  width: 200px;
  height: 1750px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0);
}

.glossy-div4 {
  top: -47%;
  left: 36%;
  position: absolute;
  rotate: 45deg;
  opacity: 0.7;
  color: white;
  width: 200px;
  height: 1950px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0);
}

.glossy-div5 {
  top: -47%;
  left: 57%;
  position: absolute;
  rotate: 45deg;
  opacity: 0.7;
  color: white;
  width: 200px;
  height: 1950px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0);
}

.glossy-div6 {
  top: -47%;
  left: 78%;
  position: absolute;
  rotate: 45deg;
  opacity: 0.7;
  color: white;
  width: 200px;
  height: 1950px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0);
}

.glossy-div7 {
  top: -47%;
  left: 99%;
  position: absolute;
  rotate: 45deg;
  opacity: 0.7;
  color: white;
  width: 200px;
  height: 1950px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0);
}

.glossy-div8 {
  top: -47%;
  left: 118%;
  position: absolute;
  rotate: 45deg;
  opacity: 0.7;
  color: white;
  width: 200px;
  height: 1950px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0);
}

:root{
  --index: calc(1vw + 1vh);
  --transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}

.layers {
  z-index: 2;
  position: relative; /* Додаємо позицію */
  perspective: 1000px;
}
.layers__contrainer{
  height: 100vh;
  min-height: 500px;
  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  will-change: transform;
  transition: transform var(--transition);
}
.layers__item{
  position: absolute;
  inset: -6vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layer-1{
  transform: translateZ(-55px) scale(1.06);
}
.layer-2{
  transform: translateZ(80px) scale(.88);
}
.layer-3{
  transform: translateZ(180px) scale(.8);
}
.layer-4{
  transform: translateZ(190px) scale(.9);
}
.layer-5{
  transform: translateZ(300px);
}
.hero-content{
  font-size: calc(var(--index)*2.9);
  text-align: center;
  text-transform: uppercase;
  margin-top: calc(var(--index)*5.5);
  background: #199fd8;
  background: -webkit-linear-gradient(to top right, #199fd8 42%, #3197e3 44%, #4121e3 100%);
  background: -moz-linear-gradient(to top right, #199fd8 42%, #3197e3 44%, #4121e3 100%);
  background: linear-gradient(to top right, #199fd8 42%, #3197e3 44%, #4121e3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Papyrus", fantasy;
}
.layer-5, .layer-3, .layer-2, .layer-1, .layer-4{
  pointer-events: none;
}
.black-overlay { 
  background-color: grey;
  width: 100%;
  height: calc(var(--index)*7);
  position: relative; /* Додаємо позицію */
  z-index: 5; /* Ставимо поверх layers */
}